name: Deploy to Cloudflare

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20'
        
      - name: Install Dependencies
        run: npm install
        
      - name: Test
        run: npm run test -- --coverage
        continue-on-error: true


      - name: Deploy
        run: npm run build
        
      - name: Publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/


  release:
    needs: deploy
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - name: Deploy to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy dist/floral_snow_a9d5/index.js -c wrangler.jsonc